.sendmail {
  position: absolute;
  bottom: -1px;
  right: 50px;
  background-color: rgb(17, 17, 17);
  color: white;
  width: 40%;
  height: 60%;
  max-width: 500px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
}

.sendmail__header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.sendmail__header > h3 {
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
}

.sendmail__button {
  background-color: #3457d5 !important;
  border-radius: 3px !important;
  color: white !important;
  padding: 10px 25px !important;
  margin: 15px 10px !important;
}

.sendmail__close {
  cursor: pointer;
}

.sendmail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sendmail > form > input {
  padding: 15px;
  height: 38px;
  border: none;
  border-bottom: 2px solid whitesmoke;
  outline: none;
}
.sendmail__messageInput {
  flex: 1;
  /* border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 15px; */
}

.sendmail__error {
  background-color: white;
  color: red;
  text-align: right;
  padding: 2px;
}
